In [17]:
x = {
    'name':['X','Y','Z'],
    'age': (45,89,56),
    'salary':20000,
    'id':1
}

In [6]:
data_from_dict = x['name']

In [8]:
data_from_dict[1]

'Y'

In [10]:
x['name'][-1]

'Z'

In [11]:
x['name'][2]

'Z'

In [18]:
x['age']

(45, 89, 56)

In [19]:
x['age'][1]

89

In [35]:
x = {
    'name':['X','Y','Z'],
    'age': (45,89,56),
    'salary':20000,
    'id':1,
    
     'a': {
        'rank':'senior',
        'address': ['Noida','Delhi','Goa']
    }
    
    
}
x

{'name': ['X', 'Y', 'Z'],
 'age': (45, 89, 56),
 'salary': 20000,
 'id': 1,
 'a': {'rank': 'senior', 'address': ['Noida', 'Delhi', 'Goa']}}

In [37]:
x['a']['address'][1]

'Delhi'

In [48]:
x = {
    'name':['X','Y','Z'],
    'age': (45,89,56),
    'salary':20000,
    'id':1,
    0:2,
    '1':'hari bhai',
    1:'Rana',
    
    
     'a': {
        'rank':'senior',
        'address': ['Noida','Delhi','Goa']
    }
    
    
}
x

{'name': ['X', 'Y', 'Z'],
 'age': (45, 89, 56),
 'salary': 20000,
 'id': 1,
 0: 2,
 '1': 'hari bhai',
 1: 'Rana',
 'a': {'rank': 'senior', 'address': ['Noida', 'Delhi', 'Goa']}}

In [39]:
x[0]

2

In [42]:
x['1']

'hari bhai'

In [46]:
x[1]

'Rana'

In [52]:
x['a']['address'][2]

'Goa'

In [61]:
#wap and a dict of student & emp and try to fetch the common data.
s = {
    'name':'A',
    'age':34,
    'add': 'Delhi',
    
    'emp':{
        'name':'A',
        'salary':2,
        'holidays':12,
        'add':'Delhi'
    }
}
s

{'name': 'A',
 'age': 34,
 'add': 'Delhi',
 'emp': {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}}

In [55]:
s['emp']['name']

'A'

In [56]:
s['add']

'Delhi'

In [63]:
s['emp']['add']

'Delhi'

# Dict method

In [77]:
# copy
# clear
# pop
# items
# values
# keys
s = {
    'name':'A',
    'age':34,
    'add': 'Delhi',
    
    'emp':{
        'name':'A',
        'salary':2,
        'holidays':12,
        'add':'Delhi'
    }
}

In [65]:
s

{'name': 'A',
 'age': 34,
 'add': 'Delhi',
 'emp': {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}}

In [67]:
copy_data = s.copy()

In [68]:
copy_data

{'name': 'A',
 'age': 34,
 'add': 'Delhi',
 'emp': {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}}

In [69]:
s

{'name': 'A',
 'age': 34,
 'add': 'Delhi',
 'emp': {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}}

In [70]:
copy_data

{'name': 'A',
 'age': 34,
 'add': 'Delhi',
 'emp': {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}}

In [71]:
a = {
    'name':'hello'
}

In [72]:
x = a

In [73]:
x

{'name': 'hello'}

In [74]:
a

{'name': 'hello'}

In [75]:
a.clear()

In [76]:
a

{}

In [78]:
s

{'name': 'A',
 'age': 34,
 'add': 'Delhi',
 'emp': {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}}

In [81]:
s.pop('age')

34

In [82]:
s

{'name': 'A',
 'add': 'Delhi',
 'emp': {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}}

In [86]:
s.pop('add')

'Delhi'

In [87]:
s

{'name': 'A',
 'emp': {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}}

In [88]:
s['emp'].pop('salary')

2

In [89]:
s

{'name': 'A', 'emp': {'name': 'A', 'holidays': 12, 'add': 'Delhi'}}

In [97]:
# keys
s = {
    'name':'A',
    'age':34,
    'add': 'Delhi',
    
    'emp':{
        'name':'A',
        'salary':2,
        'holidays':12,
        'add':'Delhi'
    }
}

In [91]:
s

{'name': 'A',
 'age': 34,
 'add': 'Delhi',
 'emp': {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}}

In [92]:
s.keys()

dict_keys(['name', 'age', 'add', 'emp'])

In [93]:
s['emp'].keys()

dict_keys(['name', 'salary', 'holidays', 'add'])

In [95]:
s.keys()

dict_keys(['name', 'age', 'add'])

In [99]:
s['emp'].keys()

dict_keys(['name', 'salary', 'holidays', 'add'])

In [100]:
# values
s.values()

dict_values(['A', 34, 'Delhi', {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}])

In [102]:
s['emp'].values()

dict_values(['A', 2, 12, 'Delhi'])

In [107]:
x = {
    "bhai1":"muje smj ni aareha hai bhai",
    "bhai2": "muje sab smjh aagya mai expert hu",
    
    "y":{
        'x':'kya haal hai bhai!!'
    }
}

In [104]:
x

{'bhai1': 'muje smj ni aareha hai bhai',
 'bhai2': 'muje sab smjh aagya mai expert hu'}

In [105]:
# keys
x.keys()

dict_keys(['bhai1', 'bhai2'])

In [108]:
x.keys()

dict_keys(['bhai1', 'bhai2', 'y'])

In [109]:
x.values()

dict_values(['muje smj ni aareha hai bhai', 'muje sab smjh aagya mai expert hu', {'x': 'kya haal hai bhai!!'}])

In [111]:
x['y'].keys()

dict_keys(['x'])

In [112]:
x['y'].values()

dict_values(['kya haal hai bhai!!'])

In [113]:
x.items()

dict_items([('bhai1', 'muje smj ni aareha hai bhai'), ('bhai2', 'muje sab smjh aagya mai expert hu'), ('y', {'x': 'kya haal hai bhai!!'})])

In [114]:
s.items()

dict_items([('name', 'A'), ('age', 34), ('add', 'Delhi'), ('emp', {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'})])

In [ ]:
# Wap  to find prime number??
# wap to find fibonacci series??