In [1]:
# list
a = [12,89,67,34,87,45]
a[0]

12

In [2]:
a[0:4]

[12, 89, 67, 34]

In [4]:
a[0]='Ram'

In [5]:
a

['Ram', 89, 67, 34, 87, 45]

In [8]:
class parent:
    def __init__ (self,name,age):
        self.name = name
        self.age = age
        
      
        
class child(parent):
    def __init__(self,name,age,marks):
        super().__init__(name,age)
        self.marks = marks
        
        
        
c = child("A",34,78)
c.marks

78

In [9]:
c.name

'A'

In [10]:
c.age

34

In [11]:
a = 3
b = 4
c = a+b
print(c)

7

In [12]:
a = "3"
b = "4"
c = a+b
print(c)

34

In [19]:
# function overloading
def fun(x=4,y=7):
    result = x*y
    return result
    
fun(2,3)

6

In [20]:
fun(6)

42

In [21]:
fun(2,4)

8

In [22]:
fun()

28

In [28]:
# encapsulation-----> data hide ----> public,private,protected

class apple:
    _x = 10
    
a = apple()
a._x

10

In [29]:
# lambda function

#wap to add two numbers.


def add(x,y):
    result = x+y
    return result

add(1,2)

3

In [30]:
x = lambda a,b,c:a+b+c
x(1,2,3)

6

In [31]:
a = 10

In [33]:
# def fun():
#     a = 10
    
    

#     UTF-8-----> enconding techniques
# file handling-----> open file , read the file , write the file 
import pandas as pd

In [37]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\Bengaluru_House_Data.csv')

In [38]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,@@@@@@,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [39]:
df.replace("@@@@@@",0)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,0,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [47]:
#exception handling

a = 6
b = 6

try:
    print(a/b)
except:
    print('e')

print("this is my imp code!!")

1.0
this is my imp code!!