In [7]:
#Wap to sum all number present in a list.
def add_list():
#     a = [1,2,3,4]
    total = 0
    for i in range(11):
        total = total+i
    print(total)
    
add_list()

55

In [8]:
# 2 - 12
# 1 . initialization
# 2. condition
# 3. increment/decrement

x = 2
while x<12:
    print(x)
    x = x+1
#     x+=1
#     x++

2
3
4
5
6
7
8
9
10
11

In [12]:
a = (1,2,3,"abc",45.7)

In [13]:
type(a)

tuple

In [14]:
# pop
# count , index

In [15]:
# not mutable ---- tuple


# list----> use any kind of data type
# mutable
# duplicacy

# tuple----> use any of data type
# non mutable
# duplicacy allowed

a = (1,1,1,2,4,5,"hello")

In [16]:
a

(1, 1, 1, 2, 4, 5, 'hello')

In [19]:
a [5]=100

TypeError: 'tuple' object does not support item assignment

In [18]:
a[-2]

5

In [20]:
# decimal to binary
def btd(num):
    if num>=1:
        btd(num//2)
    print(num%2,end="")
dec_val = 24
btd(dec_val)

011000

In [24]:
n = 3481
count = 0 
while n>0:
    count = count+1
    n = n//10
#     print(n)
print(count)

4

In [28]:
n = 3481
a = n//10
print(a)

348

In [29]:
a = [1,2,3,4,'Anuj bhiya','Banti Bhau',45.9,23.2]

In [30]:
a.pop()

23.2

In [31]:
a

[1, 2, 3, 4, 'Anuj bhiya', 'Banti Bhau', 45.9]

In [32]:
# Function----> 
a = 9
b=1
print(a+b)

10

In [39]:
# define the function
def greet():
    print("hy","hello")
#     print("hello")
greet()

hy hello

In [37]:
# call the function
greet()

hy

In [40]:
# without arg with return
def add():
    a = 9
    b = 2
    c = a+b
    print(c)
add()

11

In [42]:
# with arg no return
def add(a,b):
    c = a+b
    print(c)
add(4,6)

10

In [46]:
# with arg with return
def add(a,b):
    c = a+b
    return (c)
add(4,6)

10

In [47]:
# no arg with return
def add():
    a = 9
    b = 2
    c = a+b
    return c
    
add()

11

In [ ]:
# Wap to convert tuple to string!!